<div>
    <md-content class="md-padding">
        <md-input-container>
            <label>Question</label>
            <input ng-model="question.question" ng-disabled="!editing">
        </md-input-container>
        <div ng-repeat="answer in question.answers" layout="row">
            <md-input-container flex>
                <label>Answer</label>
                <input ng-model="answer.answer" ng-disabled="!editing">
            </md-input-container>
            <md-checkbox ng-model="answer.correct" ng-disabled="!editing" aria-label="Is Correct?"></md-checkbox>
            <md-button ng-click="removeAnswer($index)" ng-if="editing">
                x
            </md-button>
        </div>
        <div ng-if="editing" layout="row">
            <md-input-container flex>
                <label>Answer</label>
                <input ng-model="currentanswer.answer">
            </md-input-container>
            <md-checkbox ng-model="currentanswer.correct" aria-label="Is Correct?">
                <md-tooltip>
                    Is Correct?
                </md-tooltip>
            </md-checkbox>
            <md-button ng-click="addQuestion()">
                Add
            </md-button>
        </div>
        <div layout="row">
            <div ng-class="tag" ng-repeat="tag in question.tags" class="tag" ng-if="!editing">
                {{tag}} 
            </div>
        </div>
        <ps-tag-search on-change="tagsChanged" ps-tags="question.tags" ng-if="editing"></ps-tag-search>
        <div layout="column" ng-switch="editing">
            <div ng-switch-when="false" flex layout="column">
                <md-button flex ng-if="!editing" ng-click="toggleEditing()">
                    Edit
                </md-button>
            </div>
            <div ng-switch-when="true" flex layout="column">
                <md-button flex ng-if="editing" ng-click="toggleEditing()">
                    Save
                </md-button>
            </div>
        </div>
    </md-content>
</div>
