<div>
    <div layout="row" layout-sm="column">
        <md-input-container class="md-padding" flex>
            <label>Tag</label>
            <input ng-model="tagInput">
        </md-input-container>
        <md-button ng-click="addTag(tagInput)">
            Add
        </md-button>
    </div>
    <div class="md-padding" layout="row">
        <div class="tag" ng-repeat="tag in tags">
            {{tag}} 
            <md-button ng-click="removeTag($index)">
                x
            </md-button>
        </div>
    </div>
</div>
