
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'font-awesome/scss/font-awesome';

[layout=row] {
    flex-direction: row;
}

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'main/main.scss';
@import 'psMenu/psMenu.scss';
@import 'psQuestionAnswer/psQuestionAnswer.scss';
@import 'psQuestionEditor/psQuestionEditor.scss';
@import 'psQuestionSearch/psQuestionSearch.scss';
@import 'psTagSearch/psTagSearch.scss';
@import 'psTestView/psTestView.scss';
@import 'question/question.scss';
@import 'root/root.scss';
@import 'taketest/taketest.scss';
@import 'test/test.scss';
// endinjector
