<div layout="column">
    <div>
        <md-button ng-click="createQuestion()" class="md-primary md-raised">
            New Question
        </md-button>
        <ps-tag-search on-change="onTagChange" ps-tags="[]"></ps-tag-search>
    </div>
    <div>
        <md-card ng-repeat="question in questions">
            <ps-question-editor question="question"></ps-question-editor>
            <md-button ng-click="questionSelection.callback(question)">
                {{questionSelection.tag}}
            </md-button>
        </md-card>
    </div>
</div>
